# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
VirtualShield/VS/
VirtualShield/examples/scroll-demo/Visual Micro/
*.opensdf
*.sdf
*.vcxproj
*.filters
VirtualShield/examples/scroll-demo/ipch/testapp-354bf034/testapp-ea7a3a4d.ipch
*.GhostDoc.xml
